<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MVC Exemplo Node.JS</title>
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <br/><br/><br/>
      <h2>MVC Pratica 1 Node.JS</h2>
      <br/>
      <% if (bank.length > 0) { %>
        <div class="column">
          <% for(var i = 0; i < bank.length; i++) {%>
            <div class="col-md-12 jumbotron">
                <p ><%= bank[i].COMPE %></p> 
            </div>
            <div class="col-md-12 jumbotron">
               <p><%= bank[i].ShortName %></p>
            </div>
            <div class="col-md-12 jumbotron">
                <p><%= bank[i].Document %></p>
            </div>
            <div class="col-md-12 jumbotron">
                <p><%= bank[i].Type %></p>
            </div>
            <div class="col-md-12 jumbotron">
                <p><%= bank[i].Url %></p>
            </div>
          <% } %>
        </div>
      <% } %>
    </div>
  </body>
</html>